@import '/src/styles/global.scss';
@import '~include-media/dist/include-media';

.fancyEyeBall {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  .eyeBall {
    position: absolute;
    width: 20px;
    height: 22px;
    background-color: black;
    z-index: 10;
    border-radius: 999px;
    @include media('<=1200px') {
      width: toSizeC(20, 1200);
      height: toSizeC(22, 1200);
    }
  }

  .eyeTemplate {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 999px;
    background-color: white;
    // background-color: lightcyan;
    z-index: 1;
    @include media('<=1200px') {
      width: toSizeC(44, 1200);
      height: toSizeC(44, 1200);
    }
  }

  .eyeBall {
    transition: 100ms;

    &.top {
      bottom: -2px;
      top: auto;
      @include media('<=1200px') {
        bottom: toSizeC(-2, 1200);
      }
    }

    &.left {
      left: auto;
      right: -2px;
      @include media('<=1200px') {
        right: toSizeC(-2, 1200);
      }
    }

    &.bottom {
      bottom: auto;
      top: -2px;
      @include media('<=1200px') {
        top: toSizeC(-2, 1200);
      }
    }

    &.right {
      left: -2px;
      right: auto;
      @include media('<=1200px') {
        left: toSizeC(-2, 1200);
      }
    }
  }
}
