@import '/src/styles/global.scss';
@import '~include-media/dist/include-media';

.fancyEyeBall {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  .eyeBall {
    position: absolute;
    width: 20px;
    height: 22px;
    background-color: black;
    z-index: 10;
    border-radius: 999px;
    @include media('<=1200px') {
      width: toSize(20, 1200);
      height: toSize(22, 1200);
    }
  }

  .eyeTemplate {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 999px;
    background-color: white;
    // background-color: lightcyan;
    z-index: 1;
    @include media('<=1200px') {
      width: toSize(44, 1200);
      height: toSize(44, 1200);
    }
  }

  .eyeBall {
    transition: 200ms;

    &.top {
      bottom: -2px;
      top: auto;
      transform: translateY(-2px);
      @include media('<=1200px') {
        bottom: toSize(-2, 1200);
        transform: translateY(toSize(-2, 1200));
      }
    }

    &.left {
      left: auto;
      right: -2px;
      transform: translateX(-2px);
      @include media('<=1200px') {
        right: toSize(-2, 1200);
        transform: translateX(toSize(-2, 1200));
      }
    }

    &.bottom {
      bottom: auto;
      top: -2px;
      transform: translateY(2px);
      @include media('<=1200px') {
        top: toSize(-2, 1200);
        transform: translateY(toSize(2, 1200));
      }
    }

    &.right {
      left: -2px;
      right: auto;
      transform: translateX(2px);
      @include media('<=1200px') {
        left: toSize(-2, 1200);
        transform: translateX(toSize(2, 1200));
      }
    }
  }
}
