// container
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// calendar
$theme-color-pink: rgba(255, 192, 203, 0.611);
$theme-color-brown: rgb(81, 48, 48);
$theme-color-blue: rgba(61, 125, 227, 0.782);
$theme-color-lime: rgba(160, 226, 160, 0.877);
$theme-color-purple: rgba(124, 63, 124, 0.857);

.react-calendar {
  width: 50%;
  border: 3px solid $theme-color-brown;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 20px;
  background-color: rgba(243, 243, 120, 0.154);
}

.react-calendar__navigation {
  background: $theme-color-pink;
  border-bottom: 4px solid $theme-color-brown;
  height: 90px;
  border-radius: 20px 20px 0 0;

  span {
    font-size: 24px;
    font-weight: 600;
    color: $theme-color-brown;
  }
}

.react-calendar__navigation button:disabled {
  background-color: $theme-color-pink;
  border-radius: 20px 20px 0 0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: $theme-color-pink;
  border-radius: 20px 20px 0 0;
}

.react-calendar__month-view {
  padding: 12px 32px;

  abbr {
    // 텍스트
    color: $theme-color-brown;
    font-size: 16px;
    font-weight: 500;
  }
}

.react-calendar__month-view__weekdays {
  abbr {
    // 텍스트 부분
    font-size: 18px;
    font-weight: 900;
  }
}

.react-calendar__tile {
  text-align: center;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /*hover, focus, 선택됐을 시 */
  &:enabled:hover,
  &--active {
    background: $theme-color-blue;
    border-radius: 14px;
  }

  &:enabled:focus,
  &--active {
    background: $theme-color-purple;
    border-radius: 14px;
  }
}

.react-calendar__tile--now {
  background: $theme-color-lime;
  border-radius: 14px;

  /*hover, focus 시 */
  &:enabled:hover,
  &:enabled:focus {
    background: $theme-color-blue;
    border-radius: 14px;
  }
}
