@import url('https://fonts.cdnfonts.com/css/lemon-milk');
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

.ChartTitle {
  color: #000;

  font-family: Lemon/Milk;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 70.4px */
}

.floating {
  animation-name: floating;
  -webkit-animation-name: floating;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.trendBox div {
  display: flex;
  background-color: aqua;
  border: 5px solid black;

  color: aquamarine;
  width: 200px;
  height: 500px;
  float: left;

  .trendBox1 {
  }
}

/* 
자바스크립트 사용하지 않고 CSS만으로 모든 기능을 구현했음
그러나 하위 브라우저에서 지원되지 않는 선택자들을 사용했으므로
하위 브라우저에서 정상작동하지 않을 가능성이 있음.
(http://caniuse.com 에서 어떤 브라우저에서 사용가능한지 확인후에 적용할 필요가 있습니다.)

* 사용 선택자와 속성 목록
:checked , + , :not, calc

/* CODEPEN result 창크기에 맞추기 위한 사이즈 조절 */
.wrap {
  width: 800px;
  height: 236px;
}

/* 기본 CSS 설정 */
body {
  font-family: '맑은 고딕', 'Malgun Gothic', '애플 SD 산돌고딕 Neo',
    'Apple SD Gothic Neo', Ngothic, sans-serif;
  font-size: 1em;
}
* {
  box-sizing: border-box;
  margin: 0;
}
div {
  display: inline-block;
  width: auto;
  height: auto;
}

/* 화면 전체를 감싸는 박스 */
.wrap {
  //   position: absolute;
  min-width: 250px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/* 라디오 인풋을 이용했으며 인풋에 라벨을 이어 버튼으로 사용하므로 인풋 자체는 보여질 필요가 없음, 인풋 자체는 보이지 않게 가림 */
input.button {
  display: none;
}

/* 라디오 인풋에 체크가 되면, 인접한 .contents 상자를 보이게 함 */
input[type='radio']:checked + .contents {
  visibility: visible;
  width: calc(100% - 250px);
}

/* 닫기 버튼 애니메이션 효과, 삭제시 기능상 무방함 */
input[type='radio'].close:checked + .closer {
  transform: translate(0, 100%);
  -webkit-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}
input[type='radio'].close:not(:checked) + .closer {
  transform: translate(0, 0);
  -webkit-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}

/* 메뉴 버튼 디자인 */
.label {
  height: 100%;
  width: 50px;
  display: inline-block;
  float: left;
  overflow: hidden;
  cursor: pointer;
}
/*  메뉴 버튼에 들어갈 아이콘을 100px * 100px, 투명한 PNG 로 저장하여 아래의 경로에 연동해주면 됨 
    위쪽 코드 .label.a 부터 맨 아래코드 .label.e 까지가 메뉴버튼 오른쪽-> 왼쪽 순서 */
.label.a {
  background: #2e97b7;
}
.label.b {
  background: #32b9be;
}
.label.c {
  background: #5bcebf;
}
.label.d {
  background: #74dcb9;
}
.label.e {
  background: #94dcb9;
}
.label .rotate {
  display: inline-block;
}
.label .rotate p {
  position: relative;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: left;
  font-size: 2em;
  white-space: nowrap;
  left: 18%;
  font-family: 'arial';
  font-weight: 600;
  color: #fff;
  top: 30px;
}

/* 컨텐츠 본문 */
.contents {
  position: relative;
  visibility: collapse;
  float: left;
  height: 100%;
  width: 0;
  transition: all 0.2s ease-out;
  z-index: -1;
  overflow: hidden;
  background: -moz-linear-gradient(
    -45deg,
    rgba(46, 151, 183, 0.4) 0%,
    rgba(164, 220, 185, 0.9) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(46, 151, 183, 0.4) 0%,
    rgba(164, 220, 185, 0.9) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(46, 151, 183, 0.4) 0%,
    rgba(164, 220, 185, 0.9) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66c0c60a', endColorstr='#59007c33',GradientType=1 );
}
.inner {
  display: table;
  width: 400px;
  height: 100%;
  margin: 0 auto;
  -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
}
.description {
  display: table-cell;
  vertical-align: middle;
  padding: 0 5%;
  background: rgba(0, 0, 0, 0.04);
}
.description h3 {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 50px;
  color: #37a4ab;
  line-height: 1;
  margin: 0;
  text-shadow: rgb(36, 127, 132) 2px 2px 0px;
  margin-bottom: 20px;
}
.description h3::first-letter {
  font-size: 70px;
  color: #0f848c;
}
.description p {
  font-size: 19px;
  line-height: 1.7;
  font-weight: 600;
  color: #4e6b61;
  padding-left: 50px;
  overflow: auto;
  letter-spacing: -1px;
}
