@use 'sass:math';
@import '~include-media/dist/include-media';
@import url('https://fonts.cdnfonts.com/css/lemon-milk');
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

// header height: vertical padding + content height

// 반응형 크기 계산 (1920px or 개발자 입력 픽셀 기준)
@function toSize($size, $standard: null) {
  @if ($standard) {
    $calculatedSize: ($size / $standard) * 100;
    @return #{$calculatedSize * 1vw};
  } @else {
    $calculatedSize: ($size / 1920) * 100;
    @return #{$calculatedSize * 1vw};
  }
}

// header 높이
$header-height: toSize(20 * 2 + 55);

// mobile header 높이
$mobile-header-height: toSize(92, 768);

// 캘린더 보더 색상
$calendar-color-border: rgb(220, 220, 220);

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
}

/* Chrome, Whale, Edge */

/* 스크롤바 전체 기본 꾸미기 */
body::-webkit-scrollbar {
  display: none;
}
