@import '/src/styles/global.scss';

.trend-container {
  height: calc(100vh - toSize(170));
  width: calc(100vw - toSize(94));
  margin: toSize(170) 0 0 toSize(94);
  overflow: hidden;

  // top: 0;

  // position: fixed;
  // z-index: 100;
  // height: $header-height;
  // background-color: white;
  // justify-content: space-between;
  // align-items: center;

  // border-bottom: toSize(1) solid;
  // padding: toSize(20) toSize(55);

  @include media('<=768px') {
    height: calc(100vh - $mobile-header-height);
    margin: toSize(250) 0 0 0;
    // width: calc(100vw - toSize(45));
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 20px;
  }

  .chart-title {
    color: #000;

    font-family: 'LEMON MILK';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 70.4px */
  }

  .chart-text {
    width: toSize(860);
    height: toSize(210);
    margin: 0 0 0 toSize(9);
  }
  .floating {
    animation-name: floating;
    -webkit-animation-name: floating;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }

  @keyframes floating {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(8%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @-webkit-keyframes floating {
    0% {
      -webkit-transform: translateY(0%);
    }
    50% {
      -webkit-transform: translateY(8%);
    }
    100% {
      -webkit-transform: translateY(0%);
    }
  }
  .trend-box div {
    display: flex;
    background-color: aqua;
    border: 5px solid black;

    color: aquamarine;
    width: 200px;
    height: 500px;
    float: left;
  }
}

.animate__animated.animate__shakeY {
  --animate-duration: 14s;
  position: sticky;
  z-index: -1;
}

@function toSizeM($size, $standard: null) {
  @if ($standard) {
    $calculatedSize: ($size / $standard) * 100;
    @return #{$calculatedSize * 1vw};
  } @else {
    $calculatedSize: ($size / 768) * 100;
    @return #{$calculatedSize * 1vw};
  }
}
