@import '/src/styles/global.scss';
@import url('https://fonts.cdnfonts.com/css/lemon-milk');
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

.meme-rank-button {
  color: #000;
  font-family: Gmarket Sans;
  font-size: toSize(28);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  left: toSize(80);
  top: toSize(20);
}

.meme-rank-button.selected {
  color: #3a89ff;
  font-family: Gmarket Sans;
  font-size: toSize(28);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.meme-picture-container {
  width: toSize(520);
  height: toSize(289);
}
.meme-picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  top: toSize(50);
  left: toSize(30);
}
