@import '/src/styles/global.scss';

.meme-left-container {
  width: 85%;
  display: flex;
  @include media('<=768px') {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }

  .meme-picture-message {
    display: flex;
    align-items: center;
    font-family: 'LEMON MILK';
    color: #0049b6;
    font-size: toSize(48);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    right: 3%;
    @include media('<=768px') {
      font-size: toSizeM(48);
    }
  }

  .meme-picture-container {
    width: toSize(520);
    height: toSize(289);
    position: relative;
    top: toSize(50);
    left: toSize(50);
    @include media('<=768px') {
      position: relative;
      top: toSizeM(20);
      left: 0;
      width: 75vw;
      height: toSizeM(363);
      text-align: center;
      margin-top: toSizeM(20);
    }
  }

  .meme-default-container {
    @include media('<=768px') {
      margin-top: toSizeM(0);
    }
  }

  .meme-picture {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    top: toSize(50);
    left: toSize(30);
    @include media('<=768px') {
      width: 90%;
      top: 0;
      left: 0;
    }
  }

  .meme-rank-button {
    cursor: pointer;
    color: #000;
    font-family: 'GmarketSans';
    font-size: toSize(18);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: toSize(80);
    top: toSize(20);
    width: 10%;
    @include media('<=768px') {
      font-size: toSizeM(20);
      left: 0;
      width: fit-content;
      padding: 0;
    }
  }

  .meme-rank-button.selected {
    color: #3a89ff;
    font-family: 'GmarketSans';
    font-size: toSize(18);

    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include media('<=768px') {
      font-size: toSizeM(20);
    }
  }
}
