@import '/src/styles/global.scss';

.trend-select-gender {
  position: absolute;
  right: 5%;
  bottom: 40%;
  height: 20px;
}

.trend-select-age {
  position: absolute;
  right: 5%;
  bottom: 28%;
  height: 20px;
}

// .legend-box-mobile3 {
//   @include media('<=768px') {
//     position: absolute;
//     // width: toSizeM(90);
//     // height: toSizeM(32);
//     // font-size: toSizeM(20);
//     // bottom: toSizeM(35);
//     // left: toSizeM(80);
//     left: 40%;
//     bottom: toSize(900);
//   }
// }

.custom-select-wrapper-testing {
  position: relative;
  display: inline-block;
  user-select: none;
  margin: 0 toSize(25);
  height: toSize(32);
  top: toSize(50);
  margin-top: toSize(5);
  @include media('<=768px') {
    left: toSizeM(-200);
    top: toSizeM(-456);
  }
}
.custom-select-wrapper-testing select {
  display: none;
}
.custom-options-testing {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  // margin: toSize(10) 0;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
  transition: all 0.4s ease-in-out;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  z-index: 10;
  @include media('<=768px') {
    left: toSizeM(60);
  }
}
.custom-select.opened .custom-options-testing {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
  @include media('<=768px') {
    left: toSizeM(60);
  }
}
.custom-options-testing:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  right: toSize(35);
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  // transition: all 0.4s ease-in-out;
}
.meme-picture-button {
  padding: 10px;
}
