@import '/src/styles/global.scss';

/* CODEPEN result 창크기에 맞추기 위한 사이즈 조절 */
.three-box-wrap {
  display: flex;
  width: 100%;
  height: toSize(454);
  align-items: center;
  @include media('<=768px') {
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
  }
}

/* 라디오 인풋을 이용했으며 인풋에 라벨을 이어 버튼으로 사용하므로 인풋 자체는 보여질 필요가 없음, 인풋 자체는 보이지 않게 가림 */
input.three-box-button {
  display: none;
}

/* 라디오 인풋에 체크가 되면, 인접한 .contents 상자를 보이게 함 */
input[type='radio']:checked + .three-box-contents {
  visibility: visible;
  width: toSize(1370);
  @include media('<=768px') {
    width: 100%;
    height: toSizeM(714);

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 0 toSizeM(60) 0;
  }
}

/* 메뉴 버튼 디자인 */
.three-box-label {
  height: 100%;
  width: toSize(100);
  display: flex;
  float: left;
  overflow: hidden;
  cursor: pointer;
  // transition: all 0.1s ease-out;
  margin: 0 toSize(5);
  border: toSize(10);
  border-radius: 40px;

  @include media('<=768px') {
    width: 100%;
    height: toSizeM(100);
    margin: toSizeM(5);
    justify-content: center;

    transition: none;
  }
}
/*  메뉴 버튼에 들어갈 아이콘을 100px * 100px, 투명한 PNG 로 저장하여 아래의 경로에 연동해주면 됨
      위쪽 코드 .label.a 부터 맨 아래코드 .label.e 까지가 메뉴버튼 오른쪽-> 왼쪽 순서 */
.three-box-label.a {
  background: #7caaf0;
  @include media('<=768px') {
  }
}
.three-box-label.b {
  background: #06f;
  @include media('<=768px') {
  }
}
.three-box-label.c {
  background: #7caaf0;
}

.three-box-rotate {
  display: inline-block;
  height: fit-content;

  position: relative;
  @include media('<=768px') {
    width: 100%;
  }

  p {
    position: absolute;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    transform-origin: left;

    left: toSize(50);
    font-family: 'LEMON MILK';
    font-size: toSize(28);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    color: #fff;
    top: toSize(230);

    @include media('<=768px') {
      transform: rotate(0deg);
      top: toSizeM(32);
      font-size: toSizeM(28);
      transform: translate(-30%, 0);
      left: 50%;
    }
  }

  //라벨 인덱싱 원
  div {
    width: toSize(74);
    height: toSize(74);
    border-radius: 50%;
    background-color: white;
    text-align: center;
    color: #000;
    font-family: 'GmarketSans';
    font-size: toSize(28);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    position: absolute;
    top: toSize(320);
    left: toSize(13);

    @include media('<=768px') {
      position: absolute;
      width: toSizeM(74);
      height: toSizeM(74);
      top: toSizeM(12);
      font-size: toSizeM(30);

      left: 3%;
      line-height: 89%;
    }
  }
}

/* 컨텐츠 본문 */
.three-box-contents {
  background-image: url('../../../public/statistics/box_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  visibility: collapse;
  float: left;
  height: 100%;

  width: toSize(1370);
  width: 0;
  // transition: all 0.1s ease-out;

  overflow: hidden;
  border-radius: 40px;
  margin: 0 toSize(5);
  @include media('<=768px') {
    display: none;
    margin: 5px;
    height: unset;
    transition: none;
    border-radius: toSizeM(40);
  }
}
.three-box-inner {
  display: flex; //가운데 회색박스 나옴
  height: 90%;
  margin: 1.5% 0 1.5% 1.5%;
  width: 92%;
  float: left;
  border-radius: toSizeM(28);
  border: 0.5px solid #fff;

  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.22) -1.57%,
    rgba(255, 255, 255, 0.28) 36.53%,
    rgba(143, 143, 143, 0.26) 44.36%,
    rgba(255, 255, 255, 0.28) 98.98%
  );

  background-blend-mode: overlay;
  backdrop-filter: blur(90px);

  @include media('<=768px') {
    height: 80%;
    margin: 0;
    align-items: center;
    flex-direction: column;
  }
}
.three-box-description {
  display: flex;

  height: 100%;

  @include media('<=768px') {
    align-items: center;
    height: toSizeM(250);
    width: 100%;
  }

  .label-message {
    position: absolute;

    font-family: 'LEMON MILK';
    font-size: toSize(28);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    color: #fff;
    // transition: all 0.1s ease-out;

    transform: rotate(270deg);
    transform-origin: left;
    left: toSize(1320);
    font-family: 'LEMON MILK';

    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    top: 11.9791666667vw;
    @include media('<=768px') {
      font-size: toSizeM(28);
      transition: none;
      transform: none;
      color: black;
      transform-origin: 0;
      top: toSizeM(32);
      left: 50%;
      transform: translate(-30%, 0);
    }
  }

  //라벨 인덱싱 원
  .label-circle {
    width: toSize(74);
    height: toSize(74);
    border-radius: 50%;

    background-color: white;
    text-align: center;

    font-family: 'GmarketSans';
    font-size: toSize(28);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    position: absolute;
    top: toSize(320);
    right: toSize(10);
    @include media('<=768px') {
      width: toSizeM(74);
      height: toSizeM(74);
      font-size: toSizeM(30);
      right: 87%;
      top: toSize(26);
      line-height: 85%;
    }
  }
}
.three-box-description h3 {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 50px;
  color: #37a4ab;
  line-height: 1;
  margin: 0;
  text-shadow: rgb(36, 127, 132) 2px 2px 0px;
  margin-bottom: 20px;
}
.three-box-description h3::first-letter {
  font-size: 70px;
  color: #0f848c;
}

.h100 {
  @include media('<=768px') {
    height: 100%;
  }
}
