@import '/src/styles/global.scss';

.trend-select-gender {
  position: absolute;
  right: 5%;
  bottom: 40%;
}

.trend-select-age {
  position: absolute;
  right: 5%;
  bottom: 28%;
}

.center {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  margin: 0 toSize(25);
  height: toSize(32);
  top: toSize(50);
  margin-top: toSize(5);
}
.custom-select-wrapper select {
  display: none;
}
.custom-select {
  position: relative;
  display: inline-block;
}
.custom-select-trigger {
  position: relative;
  display: block;
  width: toSize(90);
  height: toSize(32);
  // padding: 0 84px 0 22px;
  font-size: toSize(20);
  font-weight: 300;
  color: black;
  // line-height: -60px;
  background: white;
  border-radius: 15px;
  cursor: pointer;
  text-align: start;
  border: 1px solid #3a89ff;

  @include media('<=768px') {
    width: toSizeM(90);
    height: toSizeM(32);
    font-size: toSizeM(20);
    bottom: toSizeM(35);
    left: 45%;
  }
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: toSize(10);
  height: toSize(10);
  top: 50%;
  right: toSize(10);
  margin-top: -3px;
  border-bottom: 1px solid #3a89ff;
  border-right: 1px solid #3a89ff;
  transform: rotate(45deg) translateY(-50%);
  transition: all 0.4s ease-in-out;
  transform-origin: 50% 0;
  @include media('<=768px') {
    width: toSizeM(10);
    height: toSizeM(10);
    right: toSizeM(10);
  }
}

.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  // margin: toSize(10) 0;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
  transition: all 0.4s ease-in-out;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  z-index: 10;
  @include media('<=768px') {
    left: toSizeM(80);
  }
}
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.custom-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  right: toSize(35);
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all 0.4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
.custom-option {
  position: relative;
  display: block;
  // padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  font-size: toSize(18);
  font-weight: 300;
  color: black;
  // line-height: 7px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  text-align: center;
  font-family: 'GmarketSans';
  @include media('<=768px') {
    font-size: toSizeM(30);
  }
}

.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
  background: #f9f9f9;
}
.custom-select-cover {
  display: flex;
  top: 10%;
  position: absolute;
  margin-left: 10%;
  font-weight: 400;
  font-family: 'GmarketSans';
}
