// components/ImageGallery.module.scss

.gallery-container {
  text-align: center;

  .selected-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .image-wrapper {
    margin: 10px;
    text-align: center;

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      cursor: pointer;
      border: none;

      &.selected {
        border: 2px solid blue;
      }
    }

    button {
      margin-top: 5px;
      cursor: pointer;
    }
  }
}
