.profile-ratio {
  position: relative;
  width: 100%;
  font-family: LEMON MILK;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: toSize(52);
  @media (max-width: 768px) {
    padding-right: toSize(52, 480) !important;
  }

  .profile-ratioLegendWrap {
    position: absolute;
    top: toSize(39);
    left: toSize(35);
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid blue;

    .profile-ratioLegend {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // border: 1px solid green;

      .profile-ratioImgWrap {
        position: relative;
        // top: 100px;
        // left: 100px;
        width: 30%;
        height: 2rem;
        // border: 1px solid red;
      }
      p {
        width: 70%;
        text-align: center;
        font-size: 1rem;
      }
    }
  }

  .profile-ratioChart {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    padding: toSize(13) toSize(17);
    position: absolute;
    right: 0;
    bottom: 0;

    @media (max-width: 768px) {
      padding: toSize(13, 768) toSize(17, 768);
    }
  }

  .profile-ratioText {
    position: absolute;
    bottom: 0;
    left: toSize(10);

    border-radius: 10px;
    padding: toSize(13) toSize(17);
    font-weight: 500;

    p:first-child {
      font-size: toSize(20);
    }

    p:last-child {
      font-size: toSize(40);
    }
  }
}

@media (max-width: 768px) {
  .profile-ratio {
    .profile-ratioText {
      left: toSize(10, 480);
      bottom: toSize(10, 480);
      p:first-child {
        font-size: 1rem;
      }

      p:last-child {
        font-size: 2rem;
      }
    }
  }

  .profile-ratioLegendWrap {
    left: 0 !important;
    top: 0 !important;
    transform: scale(0.6);
  }
}
