@import '/src/styles/global.scss';

.setting-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  .header-temp {
    width: 100%;
    height: $header-height;
    background-color: white;
  }

  .setting-container {
    background-image: url('/images/profile_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - $header-height);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .setting-form-container {
      width: 50%;
      height: 50%;
      border: 1px solid white;
      border-radius: toSize(15);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: toSize(50);
      background-color: transparent;
      backdrop-filter: blur(90px);
      position: relative;
      z-index: 100;
    }

    @media screen and (min-width: 1280px) {
      .setting-form-container {
        width: 50%;
        height: 60%;
        margin-bottom: toSize(60);
      }
    }

    @media screen and (max-width: 768px) {
      .setting-form-container {
        width: 60%;
        height: 50%;
      }
    }
  }

  .whiteGradientBg {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
      52.55% 51.94% at 48.18% 62.86%,
      rgba(217, 217, 217, 0) 52.78%,
      #fff 100%
    );
    position: absolute;
    z-index: 2;
  }

  .setting-form-container {
    width: 100%;
    height: 100%;
    z-index: 200;
    font-family: LEMON MILK;
    display: flex;
    flex-direction: column;
  }
}
