@import '/src/styles/global.scss';

@mixin fadeIn($time) {
  animation-name: fadeIn;
  animation-duration: $time;
  animation-timing-function: ease-in-out;
}

// 모달 나타났을 때 배경 설정
.modalOn {
  opacity: 0.3;
}

$calendar-color-border: rgb(220, 220, 220);

p {
  margin: 0;
}

.profile-container {
  background-image: url('/images/profile_background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - $header-height);
  position: relative;
}

// container
.info-container {
  margin-top: $header-height;
  height: calc(100% - toSize(80 + 50));
  box-sizing: border-box;
  padding: toSize(50) toSize(100);
  width: toSize(1920);
  display: flex;
  gap: toSize(20);
  align-items: stretch;
}

// left container
.info-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: stretch;

  .title {
    font-size: toSize(64);
    font-family: GMarketSans;
    margin-bottom: toSize(50);
    font-weight: 400;
    font-style: normal;
    line-height: 110%;
    @include fadeIn(0.3s);
  }

  .left-content {
    height: 100%;
    display: grid;
    grid-template-rows: toSize(184) auto;
    grid-template-columns: repeat(2, 1fr);
    row-gap: toSize(20);
    column-gap: toSize(20);
    @include fadeIn(0.5s);
    // grid-auto-flow: row dense;

    .link,
    .ratio,
    .graph,
    .count {
      animation: fadeIn 0.5s ease-in-out forwards;
      border-radius: 10px;
      border: 0.5px solid $calendar-color-border;
      background-color: transparent;
      backdrop-filter: blur(90px);
      -webkit-backdrop-filter: blur(90px);
    }

    .count {
      position: relative;
      font-family: LEMON MILK;
      // height: toSize(184);

      div:first-child {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 toSize(30);
        // background-color: red;
        -webkit-clip-path: polygon(
          0 0,
          100% 0,
          100% 100%,
          50% 100%,
          50% 50%,
          0 50%
        );
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 50% 50%, 0 50%);
        font-size: toSize(60);
      }

      div:last-child {
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: toSize(10);
        border-radius: 10px;
        padding: toSize(13) toSize(17);
        font-weight: 500;

        p:first-child {
          font-size: toSize(20);
          z-index: 10;
        }

        p:last-child {
          font-size: toSize(40);
          z-index: 10;
        }
      }
    }

    .link {
      // height: toSize(184);
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: #fff;
        font-family: GMarketSans;
        font-size: toSize(40);
        font-weight: 700;
      }
    }

    .ratio,
    .graph {
      position: relative;
      font-family: LEMON MILK;

      span {
        padding: toSize(13) toSize(17);
        position: absolute;
        right: 0;
        bottom: 0;
      }

      div {
        position: absolute;
        bottom: 0;
        left: toSize(10);
        border-radius: 10px;
        padding: toSize(13) toSize(17);
        font-weight: 500;

        p:first-child {
          font-size: toSize(20);
        }

        p:last-child {
          font-size: toSize(40);
        }
      }
    }
  }
}

.info-right {
  width: 50%;
  height: 100%;
  @include fadeIn(1s);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    // transform: translateY(20px); // Adjust as needed
  }
  to {
    opacity: 1;
    // transform: translateY(0);
  }
}
