.myShop-container {
    width: 100%;
    height: 100%;
}

.header-temp {
    width: 100%;
    height: 90px;
    background-color: white;
}

.myShop-image-container {
    width: 100vh;
    margin-left: 10px;
    margin-right: 10px;
}



