@import '/src/styles/global.scss';

.myShop-container {
    width: 100%;
    height: 100%;
    padding-bottom: toSize(100);

    .header-temp {
        width: 100%;
        height: $header-height;
        background-color: white;
    }

    .myShop-image-background {
        width: 100%;
        padding: toSize(30);
        filter: grayscale(100%);
        height: fit-content;
    }

    .myShop-char-container {
        display: flex;
        width: 100%;
        height: toSize(1);

        .profile-char {
            width: toSize(300);
            height: toSize(400);
            transform: translate(-5%, -30%);
        }

        .char-eye {
            width: toSize(50);
            height: toSize(20);
            transform: translate(-350%, 250%);
            animation: slideIn 1s ease infinite alternate;
        }
    }
    .myShop-explain-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #RECOMMAND1 {
            font-family: GMarketSans;
            font-size: toSize(64);
            margin: toSize(10);
            margin-top: toSize(20);
        }

        #RECOMMAND2 {
            font-family: lemonSans;
            font-size: toSize(30);
            margin: 0px;
        }
    }

    .product-container {
        width: 100%;
        padding: toSize(100);

        .product-detail-container {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
            font-family: GmarketSans;

            .product-detail {
                width: toSize(350);
                height: toSize(600);
                padding:toSize(20);
                margin: toSize(10);
                border: 1px solid #3A89FF;
                border-radius: toSize(20);
                color: black;
                text-decoration: none;
                cursor: pointer;
                box-shadow: 0 4px 0px -2px #0066FF; 
                font-size: toSize(30);

                span {
                    font-weight: bold;
                }

                .product-image {
                    width: 100%;
                    height: 50%;
                    border-radius: toSize(20);
                }

                .product-detail-explain {
                    width: 100%;
                    height: 50%;

                    .product-item-name {
                        padding: 1px;
                        height: 73%;
                        overflow: hidden;
                    }
                }
            }
        }

    }
}

@keyframes slideIn {
    from {
      transform: translate(-350%, 260%);
    }
    to {
      transform: translate(-280%, 260%);
    }
  }






