@import '/src/styles/global.scss';

$border-radius-size: toSize(15);

.setting-form-container2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: center;

    .setting-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        #nickName {
            margin-bottom: toSize(20);
            width: 100%;
            border: 1px solid #3A89FF;
            height: toSize(60);
            border-radius: $border-radius-size;
            padding: toSize(15);
            font-family: GMarketSans;
            font-size: toSize(20);
        }
    
        #id {
            margin-bottom: toSize(20);
            width: 100%;
            border: 1px solid #3A89FF;
            height: toSize(60);
            border-radius: $border-radius-size;
            padding: toSize(15);
            font-family: GMarketSans;
            font-size: toSize(20);
        }

        .age-and-gender {
            display: flex;
            gap: toSize(20);

            #age {
                margin-bottom: toSize(20);
                width: 100%;
                border: 1px solid #3A89FF;
                height: toSize(60);
                border-radius: $border-radius-size;
                padding-left: toSize(10);
                font-family: GMarketSans;
                font-size: toSize(20);
                color: gray;
            }
        
            #gender {
                margin-bottom: toSize(20);
                width: 100%;
                border: 1px solid #3A89FF;
                height: toSize(60);
                border-radius: $border-radius-size;
                padding-left: toSize(15);
                font-family: GMarketSans;
                font-size: toSize(20);
                color: gray;

            }

        }
        .submit-button {
            background-color: #3A89FF;
            color: white;
            width: toSize(150);
            font-size: toSize(20);
            height: toSize(50);
            border-radius: $border-radius-size;
            font-family: Lemon Milk;
        }
    }
}
